* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: maroon;
  color: White;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Times New Roman", Times, serif;
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(255, 225, 225);
}

.info {
  font-size: 22px;
}

.gameInfo {
  padding: 0 34px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.imgbox img {
  width: 0;
  transition: 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 23px;
  padding: 3px;
  background-color: rgb(236, 198, 198);
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bolder;
}

.line {
  background-color: red;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: red;
  transition: width 1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }

  .gameInfo h1 {
    font-size: 1.5rem;
  }

  .container {
    display: grid;
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
